<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('includes/head') %>
</head>

    

<body>
   
    <%- include('includes/header') %>
    
    <h1>Du bist nicht authorisiert</h1>
    <p>Bitte logge dich als Admin ein</p>
    <a href="/login">Login</a>
</body>
</html>