<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('includes/head') %>
    <script src="/config.js" defer></script>
    <script src="/admin-controler.js" defer></script>
    
</head>
<body>
   
    <%- include('includes/header') %>
      
      <button id="zweites-fenster-oeffnen">Rezept bearbeiten</button>
      <main>
<div>


 <section id="haupt-fenster">


     <p>Hallo Admin, gib ein Rezept ein</p>
     <form action="/neues-rezept" method="POST" enctype="multipart/form-data">
         <label for="rezept-name">Name des Rezepts</label>
         <input name="rezeptname" type="text" id="rezept-name" required>
         
         <label for="rezept-beschreibung">Rezeptbeschreibung</label>
         <textarea name="rezeptbeschreibung" id="rezept-beschreibung" required></textarea>
         
         <label for="dauer">Dauer in Minuten</label>
         <input type="number" name="dauer" id="dauer">
         <button type="submit">Speichern</button>

         <p>Bild hochladen</p>
         <input type="file" id="image-speise" name="image-speise" accept=".jpg,.png">
         <p>video hochladen?</p>
         
        </form>

        <br>
        
        <form action="/zutaten-zum-rezept/<%= neuesRezept.id_Rezept %>" method="POST">
            <p>Füge zu <%= neuesRezept.Name %> Zutaten hinzu</p>

            <label for="zutaten">Zutaten</label>
            <input type="text" id="zutaten" name="zutat" required
            >
            <label for="menge-zutaten">Menge</label>
            <input type="text" id="menge-zutaten" name="menge">

            <button  type="submit">Speichern</button>

            
        </form>
        

 
    </section>

    

</div> 

<div id="zweites-fenster-container">
    <section id="zweites-fenster-admin">
        <div id="close-icon">

            <img src="/close.png"  id="close" alt="close">
        </div>
        
        <form>

<!-- noch umstrukturieren -->
            <div id="rezept-bearbeiten-löschen">

                <p>Mit einem click auf die Label kannst du die Zutaten bearbeiten</p>
                <div id="zutaten-bearbeiten-löschen">
                    <div></div>

                    


                </div>
                
                
                <label for="rezeptsuche">Welches Gericht ?</label>
                <input type="text" name="rezeptsuche" id="rezept-suche" required>
                
                <button id="rezept-btn-suchen">Suchen</button>
                
                
                <p id="rezeptName">Rezept Name:</p>
                <ul id="items-database"></ul>
                
                
                <label for="beschreibung-bearbeiten">Name</label>
                <input type="text"  id="titel-bearbeiten" required>
                
                <label for="beschreibung-bearbeiten">Beschreibung</label>
                <input type="text" id="beschreibung-bearbeiten" required>
                
                <button id="bearbeiten-btn">Bearbeiten</button>
                
                
                
                <p></p>
                <button  id="rezept-loeschen">Löschen</button>
                
            </form>
            
        </div>
        
    </section>
</div>
    
    </main>
    <footer></footer>
</body>
</html>