<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/style-index.css">
    <script src="/index.js" defer></script>
  </head>
  <body>

    <%- include('includes/header') %>

    <main>
      <div class="search-rezept">

        <input type="text" name="" id="search-rezept-input" placeholder="Suche ein Rezept" />

      </div>

      <div id="rezept-container"></div>

      <div id="zutaten-container"></div>
      
    </main>

  </body>
</html>
