<header>
    <h1>Das kleine Kochbuch</h1>
    <div>
        <div class="flexi"> 

            <a href="/admin">Admin
            <img src="/cutlery.png" class="arrow" alt=""></a>
        </div>

        <div class="flexi"> 
      <a href="/home">Home
      <img src="/cutlery.png" class="arrow" alt=""></a>
    </div>

    <div class="flexi"> 
      <a href="/meine-gerichte">Gerichte

      <img src="/cutlery.png" class="arrow" alt=""></a>
    </div>

    <div class="flexi"> 
      <a href="/login">Login
      <img src="/cutlery.png" class="arrow" alt=""></a>
    </div>

    <div class="flexi"> 
      <a href="/registrierung">Registrierung
      <img src="/cutlery.png" class="arrow" alt=""></a>
    </div>
    </div>
  </header>